cheese
coolname
datasets
environment
evaluation
gradio
hydra-core
numpy<2.0
omegaconf
pandas
pynvml
rouge
sacrebleu
tqdm
transformers==4.31.0
torch==2.0.1
wandb
scikit-learn
accelerate
evaluate
optimum
sentence-transformers
openai==0.28.1
scipy
plotly
setuptools==69.5.1
